
/* Global styles  */
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 1440px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;

    font-size: 16px;
    line-height: 1.63;
    font-weight: 400;
    color: rgb(77, 83, 60);  
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    position: relative;
    width: 100%;
    padding: 0 165px 0 165px; 
    
}
.section {
    padding-top: 230px;

    background-color: rgb(255, 255, 255);
    /* margin-right: auto;
    margin-left: auto; */
}
/* END Global styles */

/* Article component */
.article {
    width: 475px;
    height: 365px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.article-top {
    font-size: 14px;
    line-height: 1.5;

    color: rgba(77, 83, 60, 0.9);
}
.article-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.28;
}
.article-text {
    color: rgba(33, 56, 66, 0.6)
}
.article-link {
    line-height: 1.13;
    text-decoration: underline;
    color: rgb(212, 214, 212);
    fill: rgb(212, 214, 212);


}
.article-link:hover {
    color: rgb(255, 215, 35);
    fill: rgb(255, 215, 35);
}
.arrow-icon {
    width: 13px;
    height: 13px;
}
/* END Article component */

/* Header */
.top {
    padding-top: 0;
}
.menu {
    position: absolute;
    width: 1110px;
    display: flex;
    justify-content: space-between;

    padding-top: 25px;

}
.tools-bar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(245, 246, 247);
}
.tools-bar-box {
    width: 20px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tools-bar-item {
    height: 2px;

    background-color: rgb(0, 0, 0);
}
/* Section Hero */
.hero {
    padding-bottom: 210px;

    background-image: url(../images/Bitmap.jpg);
    background-size: cover;
    background-color: rgb(234, 215, 211);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgb(255, 255, 255);
}
.hero-article {
    width: 615px;
    height: 410px;
}
.hero-article-top {
    color:inherit;
}
.hero-article-title {
    font-size: 60px;
    line-height: 1.23;
}
/* Section Clients */
.clients {
    display: flex;
    justify-content: end;
    position: relative;
    /* right: 0; */
    padding-top: 0;
    padding-right: 0;
    transform: translateY(-100px); 
    
    z-index: 50;
    background-color: transparent;

}
.clients-box {
    width: 1275px;
    position: absolute;
    padding: 60px 165px 54px 65px;

    background-color: rgb(255, 255, 255);
    z-index: 100;
    
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    background-blend-mode: overlay;
    border-radius: 2px;
    
}
.clients-list {
    display: flex;
    justify-content: end;

    

}
.clients-list-item {
    width: 156px;
    height: 113px;
    margin-right: 65px;
}
.clients-list-item:last-child {
    margin: 0;
}
/* Services */
.services {
    padding-top: 0;
    padding-bottom: 150px;   
}
.services-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.services-coment {
    width: 474px;
    height: 644px;
    padding: 245px 8px 60px 40px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
}
.services-coment-text {
    margin-bottom: 50px;

    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.63;
}
.services-coment-person {
    display: flex;

}
.services-coment-person-avatar {
    margin-right: 30px;

    border-radius: 50%;

    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
.services-coment-person-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}
.services-coment-person-data-name {
    font-weight: 700;
    font-size: 22px;
   
}
.services-coment-person-data-job {
   color: rgb(21, 41, 52);
}
/* END Services section */
/* Coment component */
.coment {
    position: absolute;
    width: 455px;
    height: 245px;
    padding: 30px 33px 30px 30px;
    

    background-color: rgb(255, 255, 255);
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
}
.coment-text {
    margin-bottom: 24px;

    font-style: italic;
}
.coment-person {
    display: flex;
}
.coment-person-avatar {
    object-fit:contain;
    margin-right: 14px;
    border-radius: 50%;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
.coment-person-data-name {
    font-weight: 700;
}
.coment-person-data-job {
    font-size: 14px;
    line-height: 1.5;
}
.coment--right {
    bottom: 0;
    right: 0;
}
.coment--left {
    bottom: 0;
    left: 0;
}
/* END Coment component */

/* Projects section */
.projects {
    padding-top: 0;
      
}
.projects-box {
    padding-top: 150px;
    
    border-top: 1px solid rgba(33, 56, 66, 0.1);
}
.projects-discription {   
    margin-bottom: 110px;
    display: flex;
    align-items: center;
}
.projects-discription-text {
    width: 518px;
    height: 78px;
    margin-left: 135px;
}
.projects-list {
    position: relative;
}
.projects-list-card {
    height: 615px;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projects-list-card--left {
    padding-right: 135px;
}
.projects-list-card--right {
    padding-left: 135px;
}
.projects-preview {
    height: 100%;
    position: relative;
    
    width: 775px;

    display: flex;
    
}
.projects-preview-img {
    width: 735px;
    height: 550px;
    position: absolute;
    top: 0;

    object-fit: contain;
}

.projects-article {
    height: 397px;
    padding-right: 55px;
}
.projects-preview-img--right {
   right: 0;
}
.projects-preview-img--left {
   left: 0;
}